#register {
    min-width: 840px;
    width: calc(100vw - 320px);
    max-width: 1230px;

    border: 10px solid wheat;
    clear: right;
    float: left;
    padding-bottom: 50px;
    margin: 20px 20px 50px 20px;
    background-color: rgb(255, 241, 120);
}

#register h2 {
    margin: 10px;
    padding: 10px;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

#register > form.form-container {
    width: 80%; 
    margin: auto; 
}

#register > form.form-container > p.fields {
    margin: 10px 0; 
}

#register input[type=text], 
#register input[type=password] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 20px;
}
  
#register button.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 45px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

#register button:hover {
    opacity: 0.8;
}

#register p.fielderror {
    margin-top: -10px;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 5px 0;
}


