<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/account/base.css' %}">
        <title>GCBSE</title>
    </head>
    <body>
        
        {% include 'public/popup_message.html' %}

        <div id="container">
            {% include 'account/navbar.html' %}
        
            {% include 'account/sidebar.html' %}


            {% block content %}

            {% endblock %}                    

        </div>

        <footer id="footer">
            GCBSE | 2021
        </footer>
        
    </body>
    <script src="{% static 'js/account.js' %}"></script>
</html>