{% extends 'account/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/account/dashboard.css' %}">

{% include 'account/datetime.html' %}

<div id="dashboard">
    <table>
        {% for detail in account_info %}
        <tr>
            {% for item in detail %}
                <td> {{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

        {% if coins_circulation %}
            <tr>
                {% for item in coins_circulation %}
                    <td>{{ item }} </td>
                {% endfor %}
            </tr>
        {% endif %}
    </table>
</div>





{% endblock %}

