#popup_message {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed; /* Stay in place */
    top: 0;
    padding: 10% 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup_message .popup-content {
    border: 5px solid #888;
    padding: 5px 15px;
    margin: 0 10%;
    background-color: rgb(144, 238, 144);
}


/* The Close Button (x) */
#popup_message .close {
    float: right;
    padding: 0px 10px;
    color: #000;
    font-size: 36px;
    font-weight: bold;
}

#popup_message .close:hover, 
#popup_message .close:focus {
    color: red;
    background-color: rgb(255, 204, 195);
    cursor: pointer;
}


#popup_message p.error {
    color: rgb(230, 1, 1); 
    padding: 10px;
    margin-right: 50px;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.05);
    font-size: 22px;
}
